body {
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-white {
    background-color: #ffffff;
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}

/* ---------------  bootstrap  ----------
/*   bordes  adorno de claes de computadora */
p.h4 {
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    border: 10px;
    border:  3px solid red ;
    text-align: center;
    margin-top: 6px;
}
/*   descripcion   de los  pruductos de computadora */
p.forma1{
  background-color:rgb(47, 240, 121);
  padding: 5px;

  border-radius: 15px;
  border:  4px solid red ;

}

.caja1 {
    border-radius: 12px;
    margin: 20px;

}

.vista {
    width: 80%;
    height: 50%;
    padding: 12px;  
}

.col {
    border: 2px solid black;
}


/* formato de  productos */
h3{
    color:red;
}

h4 {
    color:black;
}

p > a {
    color:blueviolet;
    font-size: 150%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:white;
    padding: 5px; 
    border-radius: 10px; 
}

.ancho {
    margin-left: 20%;
}